* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    background-image: url("../images/backgroundimage.jpg");
    background-attachment: fixed;
  }
  body {
    font-family: Arial;
    background-color: rgba(153, 50, 203, 0.7);
  }

  header {
    padding-left: 30px;
    padding-top: 15px;
    display:flex;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    border-style: solid;
    border-width: 7px;
    border-color: black;
    border-radius: 2vh;
  }
  header img {
    padding-bottom: 20px;
  }
  body header h2 {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 40px;
    font-size: 50px;
    color: greenyellow;
    text-shadow: 5px 5px 5px black;
    display:flex;
    padding-left: 320px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  

  footer p {
    font-size: 30px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    padding-bottom: 50px;
    padding-top: 50px;
    border-style: solid;
    border-width: 7px;
    border-color: black;
  }
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    box-shadow: 3px 2.5px 6px black;
    border-radius: 2vh;
  }
  
  footer {
    background-image: url("../images/banner.jpg");
    background-size: cover;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */

  @media (max-width: 1000px) {
    .column {
      flex: 25%;
      max-width: 25%;
    }
  }
  @media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
    .column img {
      max-width: 100%;
    }
  }
